.footer-top {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}

.footer-top-left {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em var(--container-padding);
  background-color: var(--sage-light);
}

.footer-title {
  font-family: var(--font-heading);
  font-size: var(--fs-h3);
  line-height: 1;
}

.footer-btn {
  background-color: var(--gold-light);
  padding: 0.75em 1.375em;
  border-radius: 4px;
  width: fit-content;
  transition: all 0.2s;
}

.footer-btn:hover {
  background-color: var(--sage-dark);
  color: #fff;
}

.footer-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3em;

  padding: 2em var(--container-padding);
}

.footer-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.footer-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.footer-icon {
  display: flex;
  color: var(--gold-light);
  font-size: 3rem;
}

.footer-des {
  text-wrap: balance;
  font-size: clamp(0.75rem, 0.188vw + 0.706rem, 0.875rem);
}

.contacts-row {
  display: flex;
  justify-content: center;
  gap: 2em;
  border-top: 1px solid var(--border);
  padding-top: 1em;
}

.c-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875em;
  transition: transform 0.2s;
}

.c-item:hover {
  transform: translateY(-3px);
}

.c-item:hover .c-icon {
  color: var(--gold-dark);
}

.c-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sage-dark);
}

.c-icon.filled {
  background-color: var(--gold-light);
  border-radius: 50%;
  border: none;
  color: hsl(0, 0%, 100%);
}

.footer-copy {
  font-size: var(--fs-xs);
  border-top: 1px solid var(--border);
  text-align: center;
  padding-block: 1em;

}

@media (max-width: 860px) {
  .footer-top {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .footer-top img {
    width: 55%;
  }
}

@media (max-width: 425px) {
  .footer-cards {
    grid-template-columns: 1fr;
  }

  .footer-card {
    align-items: center;
  }
}


